body 
{
    background-color: burlywood;
}
{
    margin: 0;
}

{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bangers', cursive;
    font-family: 'Black Ops One', cursive;
    font-family: 'Creepster', cursive;
    font-family: 'DotGothic16', sans-serif;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rock 3D', cursive;
    font-family: 'Rubik Mono One', sans-serif;
    font-family: 'Shizuru', cursive;  
}
{
    font-size: 20px;
    line-height: 1.7;
    color: #333;
}
*,
*::before,
*::after

{
    box_sizing: boarder-box;
}
h1, h2, h3, h4 {
    margin: 0;
}
/* Container */
.container {

    width: 100%;
    max-width: 1200%;
    margin: 0 auto;
    
    }
 /* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    
    }
    .header__inner {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(228, 82, 203);
    }
    /* Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
color: rgb(228, 82, 203);
text-decoration: none;
transition: color 0.2s linear;
text-align: center;
}
.nav__link:hover {
    color: #333;
    }
   
.nav__link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: rgb(228, 82, 203);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.nav__link:hover:after {
    display: block;
     }

     /* Intro */
     .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    width: 100%;
    height: 100vh;
     }
.intro__inner {
    width: 80%;
    max-width: 880px;
     
     margin: 0 auto;

}
.intro__title1 {
    color: rgb(228, 82, 203);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    line-height: 1;
    text-decoration-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: lightskyblue;
    -webkit-text-stroke-width: 1px;
    margin-top: 300px;
    margin-right: 250px;
}
.intro__tb {
color: rgb(228, 82, 203);
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
text-align: left;
margin-bottom: 5px;
}

.intro__title2{
    color: rgb(228, 82, 203);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    line-height: 1;
    text-decoration-color: rgb(255, 255, 255);
    -webkit-text-stroke-color: lightskyblue;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 0;
    margin-top: 50px 0 ;
}
.intro__tbh {
    color: rgb(228, 82, 203);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5px;
  margin-left: 600px;
  margin-top: 0;
  text-decoration: #0d1241;
    
    }
    /* Text */
    .text {
        color: #ffffff;
        font-size: 45px;
        font-family: 'Rock 3D', cursive;
text-align: left;
margin-right: 400px;
    }
    /* text */
